[Desktop Entry]
Version=1.0
Type=Application
Name=wifi Proxy Profile
Comment=
Exec=/home/wdd/scripts/proxy/stopproxy.sh
Icon=software-update-available
Path=/home/wdd/scripts/proxy
Terminal=true
StartupNotify=false
Name[en_IE]=Configure Proxy: WiFi/ Home
